.gredient{
    background:linear-gradient( to top left, #40C9FFD9, #9373FF, #E81CFF);
    min-height: 100vh;
    width: 100vw;
}
.register{
    padding: 50px 24px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 286px;
    height: 95px;
}

.button{
    text-transform: capitalize;
    padding: 10px 24px 10px 16px;
    border-radius: 4px;
    font-size: 16px;
    display: block;
}


.carouselItem{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
}